* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    min-width: 150px;
    gap: 20px;
}

input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.price {
    font-size: 1.2rem;
    text-align: center;
}

.reason {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 0, 0.321);
    border-radius: 10px;
}

.reason p {
    font-size: 17px;
    color: red;
    text-align: center;
}

#reason-result {
    color: #4CAF50;
}

#btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.input-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}