* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url(assets/ticket-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    min-width: 150px;
    gap: 20px;

    backdrop-filter: blur(5px);
}

input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    flex: 1;
    background: transparent;
    border: none;
    border-bottom: 2px solid #481b1e;
    color: white;
    font-size: 1.5rem;
    outline: none;
}

label {
    font-size: 1.5rem;
    color: #000;
}

.price {
    font-size: 1.8rem;
    color: greenyellow;
}

.reason {
    width: 100%;
    border-radius: 10px;
}

.reason p {
    font-size: 1.3rem;
    color: rgb(255, 102, 0);
}

#reason-result {
    color: white;
    background: #000;
    padding: 8px;
    border-radius: 8px;
    font-style: italic;
}

#btn {
    background-color: #634b3f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem;

    transition: background-color .3s ease-in-out;
}

#btn:hover {
    background-color: #481b1e;
}

.input-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}